body {
    margin: 0;
    background: url(/img/clearSky.png) no-repeat;
    background-size: cover;
}

.container{
    width: 1400px;
    margin: 0 auto;
    padding-bottom: 20px;

}

.location {
    padding: 20px 0;
    font-size: 90px;
    margin: 0;
    display: grid;
    column-gap: 50px;
    grid-template:
        "place temp"
        "place wind" 1fr/ minmax(200px, 1fr) minmax(100px, 1fr);
}

.location__place {
    grid-area: place;
    align-self: center;
    text-align: end;
}

.temperature{
    font-size: 50px;
    grid-area: temp;
}

.wind {
    font-size: 50px;
    grid-area: wind;
}

.places {
    width: max-content;
}

.places-list {
    display: flex;
    flex-direction: column;
    width: max-content;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 5px 15px 5px 35px;

}

.places-list li {
    cursor: pointer;
    padding: 5px ;
}

.places-list li:hover {
    background-color: aqua;
}