* {
    box-sizing:border-box;
}

body {
    margin: 0;
    background: url(/img/night.jpg) no-repeat;
    background-size: cover;
}

.container{
    width: 1400px;
    margin: 0 auto;
    padding-bottom: 20px;

}

.grid {
    width: fit-content;
    display: grid;
    grid-template: "loc temp" auto
                   "air temp"
                   "form temp" auto;
    gap: 15px;
    margin-top: 70px;
}

.location {
    color: azure;
    display: inline-block;
    grid-area: loc;
    width: fit-content;
    text-align: center;
    justify-self: center;
    text-shadow: 2px 2px 1px black;
}

.location__last-update {
    margin-left: 20px;
}

.location__place {
    margin: 0;
    font-size: 35px;
}

input[type="text"] {
    width: 81%;
    padding: 7px;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: 2px 2px 3px black;
}

input[type="text"]:focus {
    transform: scale(1.05);
}

.btn {
    width: 18%;
    padding: 7px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(44,41,91,1) 0%, rgba(8,173,207,1) 100%);
    border: none;
    color: #FFF;
    box-shadow: 2px 2px 3px black;
    cursor: pointer;
}

.btn:hover {
    background: linear-gradient(90deg, rgb(74, 43, 95) 0%, rgba(8,173,207,1) 100%);
}

.weather-air {
    grid-area: air;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    background: #FFF;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 3px black;
}

.weather-air__pressure {
    justify-self: center;
}

.weather-air__pressure svg {
    max-width: 90%;

}

.weatherIMG {
    grid-area: icon;
    width: 100%;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


.arrow-wind {
    position: absolute;
    top: 30px;
    max-width: 60%;
    fill: #abbd45;
    transition: transform 1s;
}

svg {
    max-width: 100%;
    fill: lightseagreen;
}

.svg {
    display: flex;
    width: 70px;
    justify-content: center;
    align-content: center;
    position: relative;
}

.tempirature {
    font-size: 10px;
    grid-area: temp;
    color: azure;
    background: linear-gradient(90deg, rgba(44,41,91,1) 0%, rgba(8,173,207,1) 100%);
    border-radius: 10px;
    box-shadow: 2px 2px 3px black;
    padding: 20px;
    display: grid;
    justify-items: end;
    justify-self: start;
    align-items: center;
    grid-template: "icon icon" 2fr
                   "temp temp" 0.5fr
                   "tmin tmax" 0.5fr;
}

.temperature__now {
    font-size: 3em;
    grid-area: temp;
    width: 96px;
    text-align: end;
}

.temperature__min {
    font-size: 1.5em;
    grid-area: tmin;
}

.temperature__max {
    font-size: 1.5em;
    grid-area: tmax;
}

.search__location {
    grid-area: form;
    font-size: 20px;
}



.places-list {
    width: max-content;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 5px 15px 5px 35px;
    grid-column: span 2;
}

.places-list li {
    padding: 5px;
    cursor: pointer;

}

.places-list li:hover {
    background-color: aquamarine;
}

#arrow{
    transform-origin: 46% 46%;
    transform: rotate(-180deg);
    transition: transform 1s;
}

header {
    width: 100%;
    padding: 17px;
    background: linear-gradient(90deg, rgba(44,41,91,1) 0%, rgba(8,173,207,1) 100%);
    text-align: center;
    color: #FFF;
    font-size: 20px;
}

footer {
    padding: 20px;
    background: linear-gradient(90deg, rgba(44,41,91,1) 0%, rgba(8,173,207,1) 100%);
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer div {
    margin: auto;
    width: fit-content;
}

.data{
    text-align: center;
    margin-top: 5px;
    padding-left: 5px;
    font-size: 20px;
}

.sd {
    background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);
}